<div id="spritzeur-word">
	<a href="http://spritzeur.free.fr"><img src="" alt="logo" id="spritzeur-logo" /></a>
	<span class="spritzeur-left spritzeur-container"></span>
	<span class="spritzeur-pivot spritzeur-container"></span>
	<span class="spritzeur-right spritzeur-container"></span>	
	<img src="" alt="action" id="spritzeur-action" />
	<img src="" alt="menu" id="spritzeur-menu" />
	<img src="" alt="fermer" id="spritzeur-fermer" />
	
	<div class="spritzeur-menu">
		Vitesse: <select id="spritzeur-vitesse">
			<option value="250">250 mpm</option>
			<option value="300">300 mpm</option>
			<option value="350">350 mpm</option>
			<option value="400">400 mpm</option>
			<option value="450">450 mpm</option>
			<option value="500">500 mpm</option>
			<option value="550">550 mpm</option>
			<option value="600">600 mpm</option>
		</select><br />
		Fermeture automatique: <input type="checkbox" id="spritzeur-fermeture" value="true" />
	</div>
</div>